/apps/*/*/var/

/apps/*/*/build/
!/apps/*/*/build/supervisor/.gitkeep

/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/vendor/

.phpunit.result.cache
/phpunit.xml

/phpunit.xml
.phpunit.result.cache

/.php-cs-fixer.php
/.php-cs-fixer.cache
